@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: white;
  background-color: #f5f5f5;
}

header {
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
  background-color: black;
  color: #fff;
  color: #f2eded;
  animation: rainbow 1s infinite linear, flicker 1s infinite alternate;
}


@keyframes rainbow {
  0% {
    text-shadow: 0 0 10px red, 
                 0 0 20px orange, 
                 0 0 30px yellow, 
                 0 0 40px green, 
                 0 0 50px blue, 
                 0 0 60px indigo, 
                 0 0 70px violet;
  }
  100% {
    text-shadow: 0 0 10px violet, 
                 0 0 20px indigo, 
                 0 0 30px blue, 
                 0 0 40px green, 
                 0 0 50px yellow, 
                 0 0 60px orange, 
                 0 0 70px red;
  }
}

@keyframes flicker {
  0%, 100% {
    text-shadow: 0 0 10px red, 
                 0 0 20px orange, 
                 0 0 30px yellow, 
                 0 0 40px green, 
                 0 0 50px blue, 
                 0 0 60px indigo, 
                 0 0 70px violet;
  }
  50% {
    text-shadow: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background: #222;
  z-index: 1000;
}

nav a {
  display: inline-block;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(90deg, #444 0%, #888 100%);
  border: none;
  border-radius: 4px;
  transition: background 0.3s;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
}

@media (min-width: 768px) {
  nav a {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  nav a {
    font-size: 40px;
  }
}

.responsive-image {
  max-width: 100px; 
  height: auto;
}

@media screen and (max-width: 768px) {
  .responsive-image {
    max-width: 80px; 
  }
}

@media screen and (max-width: 480px) {
  .responsive-image {
    max-width: 60px; 
  }
}


nav a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #888 0%, #444 100%);
  transition: left 0.3s;
}

nav a:hover {
  background: transparent;
}

nav a:hover::before {
  left: 100%;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  padding: 1em 20px;
  background: black;
  color: #ffffff;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info h3 {
  margin-top: 0;
}

.contact-info p {
  margin: 5px 0;
}

.contact-info a {
  color: #ffffff;
  text-decoration: none;
}


.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-card {
  box-sizing: border-box;
  perspective: 1000px;
  margin: 20px;
  width: calc(100% - 60px);
  max-width: 450px;
  height: auto;
  position: relative;
  padding-bottom: 650px;
  z-index: 1;
}

.movie-card:focus .movie-front {
  transform: rotateY(180deg);
}

.movie-card:focus .movie-back {
  transform: rotateY(0);
}

.movie-front h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 0px;
}

.movie-front p {
  padding-top: 0px;
}

.movie-front, .movie-back {
  transition: transform 0.7s ease-in-out;
  transform-style: preserve-3d;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-back {
  background-color: black;
  transform: rotateY(180deg);
  color: white;
  height: inherit;
}

.movie-front img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.movie-front div, .movie-back {
  padding: 10px;
  text-align: center;
}

.book-now {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.book-now:hover {
  background-color: #555;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: bold;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

#seats-&-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.seats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.seat {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seat-price {
  margin-top: 10px;
  font-weight: bold;
}

.seat-image {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .seats-container {
    grid-template-columns: 1fr;
  }
}

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-text p {
  margin-bottom: 20px;
}

.about-image img {
  width: 100%;
  height: auto;
  max-width: 400%;
  max-height: 400%;
}

.about-image {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .movie-card {
    flex-basis: calc(50% - 40px);
  }

  .movie-front h3 {
    font-size: 24px;
  }

  .movie-front .rating {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .movie-card {
    flex-basis: calc(25% - 60px);
  }

  .movie-front h3 {
    font-size: 26px;
  }

  .movie-front .rating {
    font-size: 18px;
  }
}

.about-image {
  margin-top: 20px;
  flex-basis: 100%;
}

h2,
h3,
p {
  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

table,
table th,
table td {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

table th:nth-child(1), 
table td:nth-child(1) {
  text-align: center; 
}

table th:nth-child(2), 
table td:nth-child(2) {
  text-align: center; 
}

table th:nth-child(3), 
table td:nth-child(3) {
  text-align: right; 
}

table tr:nth-child(2n-1) {
  background-color: #cccccc;
}


fieldset legend {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-row input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .form-row {
    flex-basis: 100%;
  }
}

@media (max-width: 1000px) {
  .contact-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-info .form-field {
    flex-basis: 100%;
  }
}

.movie-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movie-details h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

.movie-details .synopsis p,
.movie-details .synopsis strong {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.select-input {
  width: 100%;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 40px;
}

.movie-title {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px; 
  justify-items: start; 
}

.contact-info label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 3px 5px;
  margin-right: 5px;
  text-align: left;
}

.contact-info input[type="text"],
.contact-info input[type="tel"],
.contact-info input[type="email"] {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 3px 5px; 
  margin: 0;
  text-align: left;
}

.session-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.session, .contact-Button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 60px;
  width: 400px;
  padding: 10px 40px;
  margin-bottom: 20px;
  background-color: hwb(214 82% 15%);
  border: 1px solid hwb(214 82% 15%);
  color: black;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 20px;
}

.session:hover, .contact-Button:hover {
  background-color: #080808;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.session.selected, 
.contact-Button.active:active {
  background-color: blue;
  color: white ;
  padding: 10px 40px ;
  width: 400px ;
}


@media screen and (max-width: 1024px) { 
  .session, .contact-Button {
      width: 32%; 
  }
}

@media screen and (max-width: 768px) { 
  .session, .contact-Button {
      width: 48%; 
  }
}

@media screen and (max-width: 480px) { 
  .session, .contact-Button {
      width: 100%; 
  }
}

.submit-button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 60px;
  width: 400px;
  padding: 10px 40px;
  margin-bottom: 20px;
  background-color: black; 
  border: 1px solid black;
  color: white; 
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s; 
  margin-right: 40px;
  margin-top: 20px; 
}

.submit-button:hover {
  background-color: blue; 
  color: white;
  font-weight: bold; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

@media screen and (max-width: 1024px) { 
  .submit-button {
      width: 32%; 
  }
}

@media screen and (max-width: 768px) { 
  .submit-button {
      width: 48%; 
  }
}

@media screen and (max-width: 480px) { 
  .submit-button {
      width: 100%; 
  }
}

.seats-container, .seat label, .seat .seat-price {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 1024px) { 
.submit-button {
    width: 32%; 
}


.seat input[type="number"] {
  width: 45px; 
  height: 30px; 
  font-size: 14px; 
  padding: 2px; 
}

@media screen and (max-width: 768px) { 
.seat input {
    width: 48%; 
}

.seat input[type="number"] {
    width: 48%; 
}
}

@media screen and (max-width: 480px) { 
.seat input{
    width: 50%; 
}

.seat input[type="number"] {
    width: 100%;
}
}

fieldset .movie-title {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  fieldset .movie-title {
    font-size: 32px; 
  }
}

@media screen and (max-width: 480px) {
  fieldset .movie-title {
    font-size: 28px; 
  }
}

#total-price {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.active-nav-link {
  color: blue;
}

#debug-module {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#error-message {
  color: red;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

.page-break {
  break-after: always;
  page-break-after: always;
}

.ticket-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


.ticket-content {
  display: flex;
  align-items: center;
}

.ticket-image img {
  max-width: 25px;
  max-height: 50px;
  margin-right: 10px;
}

.ticket-metadata {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ticket-details {
  flex: 1;
}

.gold {
  background-color: gold;
  color: black;
}

.standard {
  background-color: blue;
  color: white;
}
