@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }

  header {
    text-align: center;
    padding: 0.5em 0;
    font-family: 'Oswald', sans-serif;
    font-size: 3vw;
    background-color: black;
    color: #fff;
    animation: rainbow 3s infinite linear, flicker 1s infinite alternate;
  }
  
  @keyframes rainbow {
    0% {
      text-shadow: 0 0 10px red,
                   0 0 20px orange,
                   0 0 30px yellow,
                   0 0 40px green,
                   0 0 50px blue,
                   0 0 60px indigo,
                   0 0 70px violet;
    }
    100% {
      text-shadow: 0 0 10px violet,
                   0 0 20px indigo,
                   0 0 30px blue,
                   0 0 40px green,
                   0 0 50px yellow,
                   0 0 60px orange,
                   0 0 70px red;
    }
  }
  
  @keyframes flicker {
    0%, 100% {
      text-shadow: 0 0 10px red,
                   0 0 20px orange,
                   0 0 30px yellow,
                   0 0 40px green,
                   0 0 50px blue,
                   0 0 60px indigo,
                   0 0 70px violet;
    }
    50% {
      text-shadow: none;
    }
  }
  
  nav {
    display: flex;
    justify-content: center;
    background: #222;
  }
  
  nav a {
    display: inline-block;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(90deg, #444 0%, #888 100%);
    border: none;
    border-radius: 4px;
    transition: background 0.3s;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
  }
  @media (min-width: 768px) {
    font-size: 30px; /* Font size for medium-sized screens */
  }

  @media (min-width: 1200px) {
    font-size: 40px; /* Font size for large screens */
  }

  nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #888 0%, #444 100%);
    transition: left 0.3s;
  }
  
  nav a:hover {
    background: transparent;
  }
  
  nav a:hover::before {
    left: 100%;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    text-align: center;
    padding: 1em 0;
    background: black;
    color: #ffffff;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .contact-info h3 {
    margin-top: 0;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .contact-info a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-card {
    box-sizing: border-box;
    perspective: 1000px;
    margin: 20px;
    width: calc(100% - 60px);
    max-width: 450px;
    height: auto;
    position: relative;
    padding-bottom: 650px;
}

.movie-card:focus .movie-front {
    transform: rotateY(180deg);
}

.movie-card:focus .movie-back {
    transform: rotateY(0);

}
.movie-front h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 0px;
}
.movie-front p {
    padding-top: 0px;
  }

.movie-front,
.movie-back {
    transition: transform 0.7s ease-in-out;
    transform-style: preserve-3d;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie-back {
    background-color: black;
    transform: rotateY(180deg);
    color: white;
    height: inherit;
}

.movie-front img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.movie-front div,
.movie-back {
    padding: 10px;
    text-align: center;
}

.book-now {
    display: inline-block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
}

.book-now:hover {
    background-color: #555;
}

  
  h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
  }
  
  h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: bold;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  #seats-&-prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .seats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .seat {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .standard-seat {
    background-color: #ccc;
  }
  
  .seat-price {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .seat-image {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 767px) {
    .seats-container {
      grid-template-columns: 1fr;
    }
  }
  
  section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
  }

  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .about-text p {
    margin-bottom: 20px;
  }
  
  .about-image img {
    width: 100%; 
    height: auto;
    max-width: 400%; 
    max-height: 400%;
  }
  
  .about-image {
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .movie-card {
      flex-basis: calc(50% - 40px);
    }
    
    .movie-front h3 {
      font-size: 24px; 
    }
    
    .movie-front .rating {
      font-size: 12px; /
    }
  }
  
  @media (min-width: 1200px) {
    .movie-card {
      flex-basis: calc(25% - 60px);
    }
    
    .movie-front h3 {
      font-size: 26px; /
    }
    
    .movie-front .rating {
      font-size: 18px; /
    }
  }  
  
    .about-image {
      margin-top: 20px;
      flex-basis: 100%;
    }

  h2, h3, p {
  overflow-wrap: break-word;
}
img {
  max-width: 100%;
  height: auto;
}

table {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
  }
  table tr:nth-child(2n-1) {
    background-color: #cccccc;
  }

  fieldset legend {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-row input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  @media (max-width: 767px) {
    .form-row {
      flex-basis: 100%;
    }
  }
  .custom-select {
    position: relative;
    width: 400px;
  }
  
  .select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .select-options li {
    padding: 10px;
    cursor: pointer;
  }
  
  .select-options li:hover {
    background-color: #f1f1f1;
  }
  .select-options li {
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
  }
  
    